.platform-view {
  width: 100%;
  height: 100%;
  background-color: white;
}

.container__platform{
  width: 479px;
  height: 220px;
  display: flex;
  flex-direction: column;
  margin: 0  auto;
  padding: 70px;
}

.container__platform h2{
  font-size: 48px;
  font-weight: bold;
  line-height: 59px;
}

#sub-title{
  font-size: 16px;
  font-weight: bold;
  color: #000;
  width: 457px;
  height: 48px;
  text-align: center;
}

.platform-button{
 padding: 30px;
  justify-content: center;
  display: flex;
  cursor: pointer;
  gap: 40px;
}

#startPlatform{
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 150px;
  height: 45px;
  color: white;
  background: #006AFF;
}

#loginPlatform{
  width: 150px;
  height: 45px;
  border: solid 2px black;
  border-radius: 25px;
  cursor: pointer;
  background: transparent;
  color: black  ;
}

.platform-view__container{
    display: grid;
    grid-template-columns: 275px repeat(auto-fill, 320px) 336px;
    justify-items: end;
    height: 300px;
    width: 913px;
    margin: 0 auto;
    padding: 0px;
}

.platform-view__item-svg{
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

.platform-view__item-title{
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.platform-view__item-description{
  width: 245px;
  height: 75px;
  display: flex;
  padding: 12px;
}
