.black-card{
  background: rgb(206, 50, 50);
}

.black-card-text h2{
  display: flex;
  width: 100%;
  font-size: 30px;
  color: white;
}

.black-card-map{
  background: yellowgreen;
  width: 1440px;
  display: grid;
  margin: auto;
}

.black-card-map-text{
display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.item-info{
  width: 440px;
  height: 120px;
}